.bar7 form {
	height:42px;
}
.bar7 input {
	width:260px;
	border-radius:42px;
	border:2px solid #324B4E;
	background:#F9F0DA;
	transition:.3s linear;
	float:left;
	height: 36px;
	outline:none;
	font-size: 15px;
	text-align: -webkit-center;
}
.bar7 button {
	background:#e4c475;
	top:-2px;
	right:20px;
}
.bar7 button:before {
	content:"搜索";
	font-family:FontAwesome;
	color:#324b4e;
}
.setBtn {
			border: none;
			color: white;
			padding: 8px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 14px;
			margin: 4px 2px;
			cursor: pointer;
			outline:none;
			}